.main{
    display: flex;
    height: 100%;
    width: 100%;
}
.left >img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.left, .right{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.svg-holder{
    background-color: red;
    flex-shrink: 0;
}

.linkList{
    display: flex;
}