.template{
    display: none;
}

body{
    display: flex;

}
.main{
    display: flex;
    height: 100%;
    width: 100%;
}
.left >img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.left, .right{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.left{
    overflow: hidden;
    width: 75%;
}

.svg-shrinker{
    width: 30px;
}
path{
    height: 100vh;
}

.linkList{
    display: flex;
}


