.project-list{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.project-list >li{
    position: relative;
    width: 33%;
    height: 40%;
    padding: 20px;
}
.project-holder{
    background-color: grey;
    width: 100%;
    height: 100%;
    box-shadow: 2px 5px 9px grey;

}
.project-holder img{
    width: 100%;
    height: 75%;
    object-fit: cover;

}

.project-modal{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    text-align: center;

    transition: .4s opacity ease;
}
.project-modal:hover{
    opacity: 1;
}
#points{
    list-style-type: circle;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project-modal a{
    background-color: beige;

}
.project-modal a:hover{
    background-color: rgb(255, 255, 180);
}
.title-header{
    text-align: center;
}