.sidebar-sizer{
    height: 100%;
    width: 15vw;
    position: relative;
    flex-shrink: 0;
}

.sidebar{
    width: 15vw;
    height: inherit;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 2px 5px 9px grey;
}
.linklist{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.linklist li{
    height: 100%;
}
.linklist li a{
    display: block;
    height: 30%;
    box-sizing: border-box;
    padding: 50px;
    border-left: 0px solid hsl(180, 100%, 50%);
    transition:.5s all;
}
.linklist li a:hover{
    border-left: 5px solid aqua;
    font-weight: 700;
}
.active{
    border-left: 5px solid aqua !important;
    font-weight: 700;
    // background-color: rgba(0, 255, 255, 0.068)
}
.sidebar-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: aqua;
    box-shadow: 1px 2px 4px grey;
}
.sidebar-info{
    // background-image: url("http://res.cloudinary.com/flyakite/image/upload/w_200,h_200,c_fill,g_face,r_max/v1514841885/Artem_Kharshan_1_cmujvq.jpg");
    
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: top center;
}